header{
	background-color: #FFFCFF;
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
}
.dropbtn {
    background-color: #E6E6FA;
    color: black;
    padding: 16px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    cursor: pointer;
    font-weight: 300;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E6E6FA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fff;
}
/* general */

#menu{
	color: black;
	word-spacing: 50px;
	background-color: #E3E8FF;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

body{
	background-color: white;
    position: relative;
	}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #E6E6FA;
}

#dog{
    float: right;
}

#icons{
	word-spacing: 20px;
    float: left;
    background-color: #E6E6FA;
}

#years {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    margin-left: 70px;
    margin-top: 50px;
    font-size: 150%;
}

#posters2{
    padding: 50px 30px 50px 80px;
    display: inline;
}

#profileimage{
    float: right;
    margin-right: 100px;
    margin-top: 60px;
}

#aboutme{
    width: 420px;
    margin-left: 75px;
    margin-top: 50px;
}

#questions{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 150%;
    font-weight: 300;
    margin-top: 40px;
}

#webcomicfont{
    font-family: 'Gloria Hallelujah', cursive;
}

/* photo wall */
#container {
    width: 800px;
    position: center;
}
 
#myContent {
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
    width: 1000px;
    position: center;
}
 
#myContent img{
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
}

    #myContent {
        -moz-column-count: 4;
        -moz-column-gap: 0px;
        -webkit-column-count: 4;
        -webkit-column-gap: 0px;
        column-count: 4;
        column-gap: 0px;
        width: 800px;
    }
    
    #container {
        width: 800px;
    }
/* photo wall */

p{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 200px;
    font-size: 15px;
    color: black;
}

#introduction{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 200;
    color: black;
    width: 400px;
    margin-top: 95px;
    margin-left: 300px;
}

#introfigure{
    height: 200px;
    margin-left: 100px;
}

footer{
    color:#E6E6FA;
    background-color: #E6E6FA;
}