body{
		font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
	line-height: 32px;

}
#wrapper{
	width: 500px;
	margin: 30px;
	padding: 30px 30px 30px 30px;
	background-color: #fff;
	border: solid 1px #333333;
	font-family: 'Gloria Hallelujah', cursive;
}

#dog{
	float: right;
}

.clear{
	clear:both;
}